.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article {
    border-radius: 10px;
    position: relative;
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;

    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

    * {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }

    body {
        font-size: 14px;
        font-weight: 400;
        background: #eff6fa;
        color: #000000;
    }

    div {
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ul {
        list-style: none;
        margin-bottom: 0px;
    }

    p {
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
        color: #828282;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }

    p a {
        display: inline;
        position: relative;
        color: inherit;
        border-bottom: solid 1px #ffa07f;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    a,
    a:hover,
    a:visited,
    a:active,
    a:link {
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }

    p a:active {
        position: relative;
        color: #FF6347;
    }

    p a:hover {
        color: #FFFFFF;
        background: #ffa07f;
    }

    p a:hover::after {
        opacity: 0.2;
    }

    ::selection {}

    p::selection {}

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }

    h1::selection,
    h2::selection,
    h3::selection,
    h4::selection,
    h5::selection,
    h6::selection {}

    .form-control {
        color: #db5246;
    }

    section {
        display: block;
        position: relative;
        box-sizing: border-box;
    }

    .clear {
        clear: both;
    }

    .clearfix::before,
    .clearfix::after {
        content: "";
        display: table;
    }

    .clearfix::after {
        clear: both;
    }

    .clearfix {
        zoom: 1;
    }

    .float_left {
        float: left;
    }

    .float_right {
        float: right;
    }

    .trans_200 {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .trans_300 {
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    .trans_400 {
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    .trans_500 {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .fill_height {
        height: 100%;
    }

    .super_container {
        width: 100%;
        overflow: hidden;
    }

    .prlx_parent {
        overflow: hidden;
    }

    .prlx {
    }

    .nopadding {
    }

    .button {
        display: inline-block;
        background: #0e8ce4;
        border-radius: 5px;
        height: 48px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .button a {
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 48px;
        color: #FFFFFF;
        padding-left: 35px;
        padding-right: 35px;
    }

    .button:hover {
        opacity: 0.8;
    }











    .viewed {
        padding-top: 51px;
        padding-bottom: 60px;
        background: #eff6fa;
    }

    .bbb_viewed_title_container {
        border-bottom: solid 1px #dadada;
    }

    .bbb_viewed_title {
        margin-bottom: 14px;
    }

    .bbb_viewed_nav_container {
        position: absolute;
        right: -5px;
        bottom: 14px;
    }

    .bbb_viewed_nav {
        display: inline-block;
        cursor: pointer;
    }

    .bbb_viewed_nav i {
        color: #dadada;
        font-size: 18px;
        padding: 5px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .bbb_viewed_nav:hover i {
        color: #606264;
    }

    .bbb_viewed_prev {
        margin-right: 15px;
    }

    .bbb_viewed_slider_container {
        padding-top: 50px;
    }

    .bbb_viewed_item {
        width: 100%;
        background: #FFFFFF;
        border-radius: 2px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .bbb_viewed_image {
        width: 115px;
        height: 115px;
    }

    .bbb_viewed_image img {
        display: block;
        max-width: 100%;
    }

    .bbb_viewed_content {
        width: 100%;
        margin-top: 25px;
    }

    .bbb_viewed_price {
        font-size: 16px;
        color: #000000;
        font-weight: 500;
    }

    .bbb_viewed_item.discount .bbb_viewed_price {
        color: #df3b3b;
    }

    .bbb_viewed_price span {
        position: relative;
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
        margin-left: 8px;
    }

    .bbb_viewed_price span::after {
        display: block;
        position: absolute;
        top: 6px;
        left: -2px;
        width: calc(100% + 4px);
        height: 1px;
        background: #8d8d8d;
        content: '';
    }

    .bbb_viewed_name {
        margin-top: 3px;
    }

    .bbb_viewed_name a {
        font-size: 14px;
        color: #000000;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .bbb_viewed_name a:hover {
        color: #0e8ce4;
    }

    .item_marks {
        position: absolute;
        top: 18px;
        left: 18px;
    }

    .item_mark {
        display: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
    }

    .item_discount {
        background: #df3b3b;
        margin-right: 5px;
    }

    .item_new {
        background: #0e8ce4;
    }

    .bbb_viewed_item.discount .item_discount {
        display: inline-block;
    }

    .bbb_viewed_item.is_new .item_new {
        display: inline-block;
    }

    padding: 20px;
    background-color: #e2e0e0;
    text-align: center;
}

@media (max-width: 768px) {
    .article {
        flex: 0 0 calc(100% - 20px);
    }
}

.article-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.article-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.article-summary {
    margin-bottom: 40px;
}

.article-read-more {
    padding: 5px 10px;
    background-color: #268ea9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.ReactModal__Content {
    position: relative;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 650px;
    width: 90%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .ReactModal__Content {
        width: 100%;
        max-width: none;
    }
}

.modal-title {
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.modal-description {
    font-size: 16px;
    text-align: justify;
    margin: 0 auto;
    max-width: 500px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.source-button,
.modal-close {
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    background-color: rgb(182, 182, 182) !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pagination-button {
    background-color: rgb(182, 182, 182) !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-info {
    margin: 0 10px;
}

.sticky-column {
    position: sticky;
    top: 60px;
    /* Adjust this value to set the sticky element's position */
    /* If you want it to stick to the bottom, use `bottom: 0` instead of `top: 0` */
    padding: 15px;
    /* Add any other styles you want for the sticky element */
}

.categories-and-read-more {
    position: sticky;
    top: 60px;
    z-index: 1;
}

.par-title-id:hover {
    opacity: 0.4;
}

#paragraph-newest-id{
    color: rgb(130 130 130) !important;
}