.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 20px; /* Set the desired size */
    height: 20px; /* Set the desired size */
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  